A:hover {
text-decoration: none;
color: #fff;
afont-weight: bold;
}
A {
text-decoration: none;
color: #fff;
afont-weight: bold;
}
.numpag {
  color: #999;
}
.numpag:hover {
  color: #000;
}
img {
 max-width: 500px;
 max-height: 500px;
 margin-left: 100px;
}
